NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000/api

NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiYWxhYmF0cnVzIiwiYSI6ImNseHAxZY<hidden_code>.Ibs43kvBfsYg3uOXlQPdAA

MONGODB_URI=mongodb+srv://shamuelbaruch:<password>@cluster0.svjtbva.mongodb.net/propertypulse?retryWrites=true&w=majority&appName=Cluster0

GOOGLE_CLIENT_ID=440743031964_<hidden_code>.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-G-<hidden_code>-1

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=/jLr2KGiJIDk8sdD<hidden_code>+Sk=

CLOUDINARY_CLOUD_NAME=dljajhm2a
CLOUDINARY_API_KEY=9429434<hidden_code>
CLOUDINARY_API_SECRET=fUrXJhSizDMJheQQ<hidden_code>
